.app{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1140px;
}

.info-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}


@media screen and (width > 375px) and (width < 1440px){
    .app{
        grid-template-columns: 1fr;
        padding-inline-end: 1rem;
        width: 100%;
    gap: 3rem;

    }
    .info-cards{
        grid-template-columns: 1fr;
    }
}
